In [4]:
import pandas as pd

In [5]:
data=pd.read_csv('time_series_covid19_confirmed_global.csv')

In [6]:
data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/15/20,7/16/20,7/17/20,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,34994,35070,35229,35301,35475,35526,35615,35727,35928,35981
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3752,3851,3906,4008,4090,4171,4290,4358,4466,4570
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,20770,21355,21948,22549,23084,23691,24278,24872,25484,26159
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,862,877,880,880,880,884,884,889,889,897
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,576,607,638,687,705,749,779,812,851,880

In [7]:
#summon common same country names in one column
data=data.groupby('Country/Region').sum()

In [11]:
#drop lat/lon
data=data.drop(columns=['Lat','Long'])

KeyError: "['Lat' 'Long'] not found in axis"